html{
    font-family: 'Roboto', 'Arial', sans-serif;
}

body { 
    padding-top: 56px;
}

.jumbotron {
    /* IMAGE TAKEN FROM https://unsplash.com/photos/TrhLCn1abMU FREE OF USE WITHOUT ANY CREDITS REQUIRED https://unsplash.com/license */
    background-image: url("/static/img/blurred-map.jpg");
    background-size: cover;
    text-align: justify;
    margin-bottom: unset !important;
}

.material-icons{
    padding-right: 4px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-28 {
    font-size: 28px;
}

.jumbotron .text-center .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar, footer{
    background: #3d4477 !important;
}

footer{
    flex-shrink: 0;
    z-index: 1000;
    bottom: 0px;
    width:100%;
    position:fixed;
}

.navbar-nav {
    width:100%;

}

.footer-divider{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .row a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.footer .row a:hover {
    color: rgba(255,255,255,.75);
}

footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .3s all ease;
	-moz-transition: .3s all ease;
	transition: .3s all ease;
}

footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

.feedback-button{
    border: 0;
	position: fixed;
	height: 45px;
	bottom: 0;
	right: 10px;
	color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    text-align:center;
    z-index: 998;
}

/* Style of the input boxes after verification*/
.valid {
    border-color: #28a745;
}
  
.invalid {
    border-color: #dc3545;
}

.invalid-message{
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.map-large {
    min-height: 450px;
    height:100%;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-map {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Medium Devices, Desktops */
@media (min-width: 576px) {
    #location{
        border-right: 4px solid #6c757d;
    }
}

@media (max-width: 576px) {
    #location{
        border-bottom: 4px solid #6c757d;
    }
}

.mapboxgl-marker {
    cursor: pointer;
}

.location-choice-title {
    padding-top: 12px;
    padding-bottom: 6px;
    border-bottom: 2px solid #6c757d;
    background-color: #6c757d30;
}

.location-choice-coordinates {
    border-bottom: 2px solid #6c757d;
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: #f7f7f7;
}

#submitCoordinatesDiv {
    padding-top: 10px;
}

.location-choice-content .card-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.location-choice-content .card-header button{
    text-decoration: none;
}

.location-choice-content .card-header button:hover{
    text-decoration: none;
}

.location-choice-content .card {
    border-radius: 0 !important;
}

.site-name {
    font-family: 'Kaushan Script', 'Roboto', 'Arial', sans-serif
}

#data_res, #area_center, #last_record, #eu_aqi{
    display: none;
}

.mapboxgl-popup-content{
    width: 330px;
}

.popups-req-location .mapboxgl-popup-content{
    width: unset !important;
}

.link-popup-tab {
    color: #3d4476;
}

.popups .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.popups .list-group {
    margin-top: -1px;
}

.popups .list-group-item {
    padding: .40rem 1.25rem;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    top: 210px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Roboto', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    padding: 10px;
    position: fixed;
    right: 10px;
    z-index: 100;
}
     
.legend h4, .choice-legend h4{
    margin: 0 0 10px;
}

.legend h4 a, .choice-legend h4 a{
    text-decoration: none;
}
    
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#map-legend-reduced, #choice-legend-reduced, #map-legend-reduced-2{
    display: none;
}

.choice-legend {
    background-color: #fff;
    border-radius: 3px;
    top: 140px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: fixed;
    left: 10px;
    z-index: 100;
}

.legend-closed{
    width: 50px;
}

.legend-top {
    top: 120px !important;
}

.legend-bottom {
    top: 400px !important;
}

.body-fill{
    background-color: #80808029;
}

.col-details{
    padding-top: 20px;
    padding-bottom: 20px;
}

.map-for-details{
    height: 300px !important;
}

/* CSS for the code section */
pre {
    background-color: #f8f8ff;
    border: 1px solid #C0C0C0;
    padding: 10px 20px;
}

.json-key {
    color: #A52A2A;
}
.json-value {
    color: #000080;
}
.json-string {
    color: #556b2f;
}

.col-api {
    padding-top: 20px;
    padding-bottom: 10px;
}

.base-choice-div, #url-div{
    display: none;
}

#nav-download-tab, #group-fields-inputs{
    display: none;
}

.padding-col{
    padding-right:0;
    padding-left:0;
}

.input-group-next .row-inputs{
    width: 100%;
}

#btnCopy {
    position: absolute;
    right: 25px;
    margin-top: 8px;
}

#spinnyBoi {
    display: none !important;
    position: absolute;
    top: 40%;
    right: 40%;
}

#spinnyBoiChild{
    width: 60px;
    height: 60px;
} 

#spinnyBoiText{
    padding-right: 20px;
}

#btnCopy, #downloadLoadingBtn{
    display: none;
}

.card-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-margins-bis {
    margin: 15px;
}

.diameterWidth{
    width: 200px;
}

.scroll-about {
    overflow: auto;
}

#btntxt, #btntxt.hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#githubbtn {
    margin-left:auto;
    margin-right:2rem;
    border-color: rgb(9, 249, 101);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    color: white
}

#githubbtn a {
    color:rgb(0, 0, 0);
}

main {
    height: inherit;
}