html{
    font-family: 'Roboto', 'Arial', sans-serif;
}

body { 
    padding-top: 56px;
}

.jumbotron {
    /* IMAGE TAKEN FROM https://unsplash.com/photos/TrhLCn1abMU FREE OF USE WITHOUT ANY CREDITS REQUIRED https://unsplash.com/license */
    /*background-image: url("/static/img/blurred-map.jpg");*/
    background-size: cover;
    text-align: justify;
    margin-bottom: unset !important;
}

.material-icons{
    padding-right: 4px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-28 {
    font-size: 28px;
}

.jumbotron .text-center .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar, footer{
    background: #3d4477 !important;
}

footer{
    flex-shrink: 0;
    z-index: 1000;
    bottom: 0px;
    width:100%;
    position:fixed;
    display: inline-block;
    margin-top: auto;
    position: relative;
}

.navbar-nav {
    width:100%;

}

.footer-divider{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .row a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.footer .row a:hover {
    color: rgba(255,255,255);
}

footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .3s all ease;
	-moz-transition: .3s all ease;
	transition: .3s all ease;
}

footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

.feedback-button{
    border: 0;
	position: fixed;
	height: 45px;
	bottom: 0;
	right: 10px;
	color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    text-align:center;
    z-index: 998;
}

/* Style of the input boxes after verification*/
.valid {
    border-color: #28a745;
}
  
.invalid {
    border-color: #dc3545;
}

.invalid-message{
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.map-large {
    min-height: 450px;
    height:100% !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-map {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Medium Devices, Desktops */
@media (min-width: 576px) {
    #location{
        border-right: 4px solid #6c757d;
    }
}

@media (max-width: 576px) {
    #location{
        border-bottom: 4px solid #6c757d;
    }
}

.mapboxgl-marker {
    cursor: pointer;
}

.location-choice-title {
    padding-top: 12px;
    padding-bottom: 6px;
    border-bottom: 2px solid #6c757d;
    background-color: #6c757d30;
}

.location-choice-coordinates {
    border-bottom: 2px solid #6c757d;
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: #f7f7f7;
}

#submitCoordinatesDiv {
    padding-top: 10px;
}

.location-choice-content .card-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.location-choice-content .card-header button{
    text-decoration: none;
}

.location-choice-content .card-header button:hover{
    text-decoration: none;
}

.location-choice-content .card {
    border-radius: 0 !important;
}

.site-name {
    font-family: 'Kaushan Script', 'Roboto', 'Arial', sans-serif
}

#data_res, #area_center, #last_record, #eu_aqi{
    display: none;
}

.mapboxgl-popup-content{
    width: inherit;
    position: relative;
}

.popups-req-location .mapboxgl-popup-content{
    width: unset !important;
}

.link-popup-tab {
    color: #3d4476;
}

.popups .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*updated */
.popups .list-group {
    margin-top: -35px;
}

.popups .list-group-item {
    padding: .40rem 1.25rem;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Roboto', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    padding: 10px;
    position: fixed;
    right: 10px;
    z-index: 100;

}
     
.legend h4, .choice-legend h4{
    margin: 0 0 10px;
}

.legend h4 a, .choice-legend h4 a{
    text-decoration: none;
}
    
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#map-legend-reduced, #choice-legend-reduced, #map-legend-reduced-2{
    display: none;
    position: absolute;
    top:25%;
}

#map-legend, #map-legend-2 {
    position: absolute;
    top: 25%;
}

.choice-legend {
    background-color: #fff;
    border-radius: 3px;
    top: 140px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: fixed;
    left: 10px;
    z-index: 100;
}

.legend-closed{
    width: 50px;
}

.legend-top {
    top: 33% !important;
}

.legend-bottom {
    top: 33% !important;
}

.body-fill{
    background-color: #80808029;
}

.col-details{
    padding-top: 20px;
    padding-bottom: 20px;
}

.map-for-details{
    height: 300px !important;
}

/* CSS for the code section */
pre {
    background-color: #f8f8ff;
    border: 1px solid #C0C0C0;
    padding: 10px 20px;
}

.json-key {
    color: #A52A2A;
}
.json-value {
    color: #000080;
}
.json-string {
    color: #556b2f;
}

.col-api {
    padding-top: 20px;
    padding-bottom: 10px;
}

.base-choice-div, #url-div{
    display: none;
}

#nav-download-tab, #group-fields-inputs{
    display: none;
}

.padding-col{
    padding-right:0;
    padding-left:0;
}

.input-group-next .row-inputs{
    width: 100%;
}

#btnCopy {
    position: absolute;
    right: 25px;
    margin-top: 8px;
}

#spinnyBoi {
    display: none !important;
    position: absolute;
    top: 40%;
    right: 40%;
}

#spinnyBoiChild{
    width: 60px;
    height: 60px;
} 

#spinnyBoiText{
    padding-right: 20px;
}

#btnCopy, #downloadLoadingBtn{
    display: none;
}

.card-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-margins-bis {
    margin: 15px;
}

.diameterWidth{
    width: 200px;
}

.scroll-about {
    overflow: auto;
}

#btntxt, #btntxt.hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#githubbtn {
    margin-left:auto;
    margin-right:2rem;
    border-color: rgb(9, 249, 101);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    color: white
}

#githubbtn a {
    color:rgb(0, 0, 0);
}

main {
    height: inherit;
    overflow: auto;
}


.card-body {
    position: relative;
}

.table {
    display: inline-table;
    font-family: sans-serif;
    -webkit-font-smoothing:antialiased;
    overflow:auto;
    width:100%;
    table-layout: fixed;
    position: relative;
    margin-bottom: 0px;
}


.table > th{
    background-color:rgb(112,196,105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: left;
}

.table > td {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 20px 30px;
}

.table > thead, .table > tbody {
    width: 100%;
    position: relative;
}

.table > td:first-child {
    padding-right:0px;
    width: 40%;
}

.table > td:last-child {
    padding-left: 0px;
    text-align: left;
    width: 60%;
}

.table-info > th {
    background-color: #fff4f400;
    border-top: 1px solid #dee2e6;
}

.table-info > td {
    background-color: #fff4f400;
    border-top: 1px solid #dee2e6;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
    background-color: #fff4f400;
}

.table:hover .table-info:hover {
    background-color: rgb(233, 236, 239);
}

.table:hover .table-info:hover > tr {
    background-color: rgb(233, 236, 239);
}

.table:hover .table-info:hover >th {
    background-color: rgb(233, 236, 239);
}

.table-info {
    background-color: #fff4f400;
}

table.table tr.table-info {
    border-top: 1px solid #dee2e6;
}

.table td, th{
    padding: 6px;
}

.target > .map-large > .mapboxgl-popup > .mapboxgl-popup-content {              
    width: 330px;
    padding-bottom: 3px; 
    position: relative;
}

.target > .map-large > .mapboxgl-popup > .mapboxgl-popup-content > .container {
    position: relative;
    width:100%;
    height:100px;
    flex-wrap: wrap;
    display: flex;
}

.card >.card-body > ul > li > a.text-info, .card-body > ul > li > a > #text {
    width: 50%;
}

#device_info > .list-group-item > span, #last_data > .list-group-item > span {
    float: right;
    left: 14em;
    width: 54%;
}

/*updated */

.container-1, .container-2, .container-3 {
    display: block;
    width:50%;
    box-sizing: content-box ;
}

div.container-1 {
    order: 1;
    font-weight: 600;
}

.container-1 > .text-info ,.container-3 > .text-info {
    margin-left:4px !important;
    
}


.container-2 > .text-info{
    font-weight: 400;
}

.container-2 {
    order: 2;
    margin-top: 1.% ;
    text-align: right;
}

.container-3 {
    order: 3;
    margin-top: -18%;
}
.container-4 {
    order: 4;
}

#sensorName{
    font-size: 0.9rem;
    display: inline;
    white-space: nowrap;

}

.mapboxgl-popup-content >div.container{
    padding-left: 0px;
}

#pointer{
    margin-right: 91% !important;
    padding: 4px !important;
    margin-top: 2.4%;
    border-radius: 1px;
}

/* heatmap */

#heatmap{
    position: relative;
    /* default display hide */
    visibility: hidden;
    background: white;
}

#heatmapTitle{
    padding-top: 15px;
}

#previousSelector-a-previous{
    margin-left: 1.5%;
}

.cal-heatmap-container {
    width: 100%;
    padding-left: 2%;
    padding-top: 10px;
}

svg {
    /* float: left; */
    max-width:100%;
}


/* circular heat */

#energychart svg, #chart3 svg {
	height: 360px;
}
#circleChart svg {
	height: 400px;
}
.circle-chart svg {
    width: 400px;
	height: 400px;
	/*height: 400px;*/
}
#day-of-week-legend svg {
    width: 350px;
}
path {
	stroke: #777;
	stroke-width: 0.1px;
}

.labels {
	fill: #676767;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 11px;
}

#chart3 .labels {
	fill: #555;
}

path:hover{

    fill:#9b59b6;
    }
    
.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 10;
    display: block;
    opacity: 0;
}