<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>AQP - Data from location</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Special tag for Microsoft -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Description -->
    <meta name="description" content="Data from location page of the air pollution data website">
    <!-- How the layout and content adapts to the mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/aqp_logo.ico' />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Javascript -->
    <script type="text/javascript" src="/static/frameworks/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js" defer></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>

    <script type="text/javascript" src="/static/js/send.js" defer></script>
    <script type="text/javascript" src="/static/js/map.js" defer></script>
    <script type="text/javascript" src="/static/js/main.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
		$(function() {
			$("#header").load("/static/views/header.html");
			$("#footer").load("/static/views/footer.html");
		})
	</script>
</head>
</head>

<body class="h-100 d-flex flex-column body-fill">
    <header id="header">
    </header>

    <div class="position-fixed w-100 d-flex flex-column p-4 toast-show">
        <div class="toast" id="toastInfo" role="alert" data-delay="10000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong id="toastTitle" class="mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="toastBody" class="toast-body"></div>
        </div>
    </div>

    <main class="main">
        <div class="card card-margins-bis">
            <div class="card-body">
                <div class="row">
                    <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-2" id="meme" style="position: relative;">
                        <div class="scroll-about" style="position: relative; height: 100%">
                            <h4>Sections</h4>
                            <div id="list-about" class="list-group">
                                <a class="list-group-item list-group-item-action active" href="#list-item-1">The
                                    Motivation</a>
                                <a class="list-group-item list-group-item-action" href="#list-item-2">The increase of
                                    air pollution</a>
                                <a class="list-group-item list-group-item-action" href="#list-item-3">The AQI</a>
                            </div>
                        </div>
                        <script>
                            function myFunction(x) {
                                if (x.matches) { // If media query matches
                                var sectionline = document.createElement("HR");
                                document.getElementById("meme").appendChild(sectionline)
                                document.HR.style.border-top= "3px dashed #bbb;"
                                }
                            }
                        </script>
                    </div>
                    <div class=" col-xs-12 col-sm-12 col-md-9 col-lg-10" style="position: relative;">
                        <div class="scroll-about" data-spy="scroll" data-target="#list-about" data-offset="0" style="position: relative;">
                            <h4 id="list-item-1">What is the motivation behind the creation of this website?</h4>
                            <p> Before, how could we know the air quality around us in Bristol?
                                If we even knew where to go, we might go on Open Data Bristol,
                                but it is impossible to find a dataset containing all the information we want at our
                                location.
                                We might find some parameters in some datasets. However, there are no good
                                visualisations of the data.
                                Why do we care?
                                Air pollution is increasing due to growth of urban population and this impacts the
                                economy and the environment.
                                Therefore, how to improve the awareness on pollution?
                                <br>
                                <br>
                                Cities are becoming data-hungry but it means data is becoming more and more complex.
                                This trend is also intensified by a new wave of low cost sensing such as the Smart
                                Citizen Kit.
                                Meanwhile, data analysts and citizens lose the comprehensive vision of data because they
                                lack of clear,
                                available and structured representations of the data.
                                Therefore, Smart Cities strategy indicates that we should focus on the delivery of
                                platforms for active citizen participation
                                and the use of existing technology [<a href="#references">8</a>].</p>
                            <h4 id="list-item-2">Why it is important to care about air pollution?</h4>
                            <p>Global demography presages a growth of urban inhabitants in the future mostly due to the
                                rural exodus
                                and the natural growth of the global population [<a href="#references">1</a>].
                                This means that cities have to increase their effort in seeking a sustainable
                                development
                                and tackling issues such as air pollution [<a href="#references">2</a>].
                                However, most cities struggle to match the prescribed limits regarding air pollutants
                                [<a href="#references">3</a>].
                                <br>
                                <br>
                                Moreover, a recent study considers air pollution to be among the top ten risks faced by
                                humanity [<a href="#references">4</a>].
                                Indeed, apart from impacting negatively the environment [<a href="#references">5</a>],
                                many studies such as [<a href="#references">6</a>,
                                <a href="#references">7</a>]
                                show that air pollution and mortality are closely related. Air pollution and most
                                notably particulate matter
                                is a threat to health by increasing substantially the risks of contracting respiratory
                                and cardiovascular
                                diseases [<a href="#references">9</a>, <a href="#references">10</a>, <a
                                    href="#references">11</a>, <a href="#references">12</a>] and it is
                                also estimated to reduce
                                life expectancy by an
                                average of 8 months for urban UK residents [<a href="#references">2</a>].
                                Despite that pollution related deaths are decreasing across Europe because emissions of
                                some pollutants are decreasing [<a href="#references">14</a>],
                                it still represents about 450,000 premature deaths per year [<a
                                    href="#references">13</a>] and 25,000 in the UK
                                alone [<a href="#references">14</a>].
                                <br>
                                <br>
                                Furthermore, particulate matter is estimated to cost £20 billion per year in health
                                costs in the UK [<a href="#references">2</a>].
                                [<a href="#references">15</a>] even estimates that the damage caused by sources of air
                                pollution could reach up to
                                $277 billion dollars each year in the US.
                                Therefore, there are both health and economic dangers regarding air pollution which is
                                why it requires a great attention
                                from the decision makers of the cities.</p>
                            <h4 id="list-item-3">Using an air quality index</h4>
                            <p>
                                <p class="text-justify">
                                    The levels (shown in the table below) for the air quality index are taken from the
                                    <a href="https://airindex.eea.europa.eu/" target="_blank">European Air Quality
                                        Index</a>.
                                    We use this air quality index accross the website. Measurements of up to five key
                                    pollutants supported by modelled data determine the index level that describes the
                                    current air quality situation at each monitoring station. The index corresponds to
                                    the poorest level for any of five pollutants.
                                </p>
                                <table id="table_index_levels" class="table table-hover table-responsive text-center">
                                    <thead>
                                        <tr>
                                            <th colspan="1">Pollutant name</th>
                                            <th colspan="5">Index level (based on pollutant concentrations in µg/m3)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col"></th>
                                            {{#aqiMust.0.index_levels}}
                                            <th scope="col" style="background-color:{{{color}}};">{{name}}</th>
                                            {{/aqiMust.0.index_levels}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#aqiMust}}
                                        <tr>
                                            <th scope="row">{{name}}</th>
                                            {{#index_levels}}
                                            <td style="background-color:{{{color}}};">{{values.0}}-{{values.1}}</td>
                                            {{/index_levels}}
                                        </tr>
                                        {{/aqiMust}}
                                    </tbody>
                                </table>
                            </p>
                        </div>
                        <br>
                        <h4 id="references">References</h4>
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action">
                                1. M. Agbali, C. Trillo, T. Fernando, I. A. Ibrahim, and Y. Arayici. 2018.
                                Conceptual
                                Smart City KPI Model: A System Dynamics Modelling Approach.
                                In 2018 Second World Conference on Smart Trends in Systems, Security and
                                Sustainability (WorldS4). 163–171.
                                <a href="https://doi.org/10.1109/WorldS4.2018.8611565"
                                    target="_blank">https://doi.org/10.1109/WorldS4.2018.8611565</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                2. Prashant Kumar, Lidia Morawska, Claudio Martani, George Biskos, Marina Neo-
                                phytou,
                                Silvana Di Sabatino, Margaret Bell, Leslie Norford, and Rex Britter. 2015. The rise
                                of
                                low-cost sensing for managing air pollution in cities. Environment international 75
                                (2015), 199–205.
                                <a href="https://doi.org/10.1016/j.envint.2014.11.019"
                                    target="_blank">https://doi.org/10.1016/j.envint.2014.11.019</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                3. Kavi Kumar Khedo, Rajiv Perseedoss, and Avinash Mungur. 2010. A Wireless Sensor
                                Network Air Pollution Monitoring System. CoRR abs/1005.1737 (2010). arXiv:1005.1737
                                <a href="http://arxiv.org/abs/1005.1737"
                                    target="_blank">http://arxiv.org/abs/1005.1737</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                4. Stephen S Lim, Theo Vos, Abraham D Flaxman, Goodarz Danaei, Kenji Shibuya,
                                Heather Adair-Rohani, Mohammad A AlMazroa, Markus Amann, H Ross An- derson, Kathryn
                                G Andrews, et al. 2012. A comparative risk assessment of burden of disease and
                                injury attributable to 67 risk factors and risk factor clusters in 21 regions,
                                1990–2010: a systematic analysis for the Global Bur- den of Disease Study 2010. The
                                lancet 380, 9859 (2012), 2224–2260.
                                <a href="https://doi.org/10.1016/S0140-6736(12)61766-8"
                                    target="_blank">https://doi.org/10.1016/S0140-6736(12)61766-8</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                5. Karol Jabłoński, Roman Czyba, Tomasz Grychowski, Józef Wiora, Marcin Janik,
                                Natalia Łomnicka, and Maciej Galeja. 2017. Multirotor platform with sensory head for
                                measurement of selected air parameters. Journal of
                                KONES 24 (2017).
                                <a href="http://yadda.icm.edu.pl/baztech/element/bwmeta1.elementbaztech-dac1e854-5a85-47ef-b752-828774d2aa1"
                                    target="_blank">http://yadda.icm.edu.pl/baztech/element/bwmeta1.elementbaztech-dac1e854-5a85-47ef-b752-828774d2aa1e</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                6. Neal Fann, Amy D. Lamson, Susan C. Anenberg, Karen Wesson, David Risley, and
                                Bryan J. Hubbell. 2012. Estimating the National Public Health Burden Associated with
                                Exposure to Ambient PM2.5 and Ozone. Risk Analysis 32, 1 (2012), 81–95.
                                <a href="https://doi.org/10.1111/j.1539-6924.2011.01630.x"
                                    target="_blank">https://doi.org/10.1111/j.1539-6924.2011.01630.x</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                7. Lester B. Lave and Eugene P. Seskin. 1973. An Analysis of the Association between
                                U.S. Mortality and Air Pollution. J. Amer. Statist. Assoc. 68, 342 (1973), 284–290.
                                <a href="https://doi.org/10.1080/01621459.1973.10482421"
                                    target="_blank">https://doi.org/10.1080/01621459.1973.10482421</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                8. T. Diez and A. Posada. The fab and the smart city: the use of machines and
                                technology for the city production by its citizens. In Proceedings of the 7th in-
                                ternational conference on tangible, embedded and embodied interaction, pages
                                447–454. ACM, 2013.
                                <a href="https://doi.org/10.1145/2460625.2460725"
                                    target="_blank">https://doi.org/10.1145/2460625.2460725</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                9. Shrinivasabharathi Balasubramanian Sankaranarayanan Mahadevan Bedi Jatin- der,
                                Karthikeyan Gnanasekaran and Nagesh Shenoy M. 2016. Com- plete Study of Factors
                                Contributing to Air Pollution. Technical Re- port. Bangalore, India.
                                <a href="https://www.analyticsvidhya.com/blog/2016/10/complete-study-of-factors-contributing-to-air-pollution/"
                                    target="_blank">https://www.analyticsvidhya.com/blog/2016/10/complete-study-of-factors-contributing-to-air-pollution/</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                10. H W Davies, J J Vlaanderen, S B Henderson, and M Brauer. 2009. Correlation
                                between co-exposures to noise and air pollution from traffic sources. Occupational
                                and Environmental Medicine 66, 5 (2009), 347–350.
                                <a href="https://doi.org/10.1136/oem.2008.041764"
                                    target="_blank">https://doi.org/10.1136/oem.2008.041764</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                11. Milena Jovašević-Stojanović, Alena Bartonova, Dušan Topalović, Ivan
                                Lazović, Boris Pokrić, and Zoran Ristovski. 2015. On the use of small and cheaper
                                sensors and devices for indicative citizen-based monitoring of respirable
                                particulate matter. Environmental Pollution 206 (2015), 696–704.
                                <a href="https://doi.org/10.1016/j.envpol.2015.08.035"
                                    target="_blank">https://doi.org/10.1016/j.envpol.2015.08.035</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                12. Frank J. Kelly and Julia C. Fussell. 2015. Air pollution and public health:
                                emerging hazards and improved understanding of risk. Environmental Geochemistry and
                                Health 37, 4 (01 Aug 2015), 631–649.
                                <a href="https://doi.org/10.1007/s10653-015-9720-1"
                                    target="_blank">https://doi.org/10.1007/s10653-015-9720-1</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                13. European Environment Agency. 2018. Air quality in Europe - 2018 Report.
                                <a href="https://www.eea.europa.eu/publications/air-quality-in-europe-2018"
                                    target="_blank">https://www.eea.europa.eu/publications/air-quality-in-europe-2018</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                14. Hannah Ritchie and Max Roser. 2019. Air Pollution. Our World in Data (2019).
                                <a href="https://ourworldindata.org/air-pollution"
                                    target="_blank">https://ourworldindata.org/air-pollution</a>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                15. Nicholas Z Muller and Robert Mendelsohn. 2007. Measuring the damages of air
                                pollution in the United States. Journal of Environmental Economics and Management
                                54, 1 (2007), 1–14.
                                <a href="https://doi.org/10.1016/j.jeem.2006.12.002"
                                    target="_blank">https://doi.org/10.1016/j.jeem.2006.12.002</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <button type="button" class="feedback-button btn btn-info" data-toggle="modal" data-target="#modalFeedback">
        <i class="material-icons md-18 align-middle">email</i>
        <span class="align-middle">Feedback</span></a>
    </button>

    <div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFeedbackLabel">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="feedbackText" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="feedbackText"
                                placeholder="Enter your comment"></textarea>
                            <div id="invalidFeedbackText" class="invalid-message">Enter a message.</div>
                        </div>
                        <div class="form-group">
                            <label for="senderEmail" class="col-form-label">You can put your email address if you want
                                us to reach you back. Email address:</label>
                            <input type="email" class="form-control" id="senderEmail" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <div id="invalidSenderEmail" class="invalid-message">Enter a valid email or no email.</div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendFeedback">Send feedback</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cookie alert with bootstrap from https://github.com/Wruczek/Bootstrap-Cookie-Alert MIT license can be commercialy used without credits -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website by
        complying to the European cookie law.
        <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>

    <footer class="footer mt-auto text-white" id="footer"></footer>
</body>

</html>