<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<title>AQP - Get pollution data from any device</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<!-- Special tag for Microsoft -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Description -->
	<meta name="description" content="Any device page of the air pollution data website">
	<!-- How the layout and content adapts to the mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel='shortcut icon' type='image/x-icon' href='/static/img/aqp_logo.ico' />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
	<link rel='stylesheet'
		href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
		type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Roboto|Kaushan+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<link href="/static/css/style.css" rel="stylesheet">

	<!-- Javascript -->
	<script type="text/javascript" src="/static/frameworks/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js" defer></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
	<script
		src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>

	<script type="text/javascript" src="/static/js/send.js" defer></script>
	<script type="text/javascript" src="/static/js/map.js" defer></script>
	<script type="text/javascript" src="/static/js/main.js" defer></script>
</head>

<body class="h-100 d-flex flex-column">
	<header>
		<nav id="site-navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
				aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/static/img/aqp_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				<span class="site-name">Air Quality Platform</span>
			</a>

			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Get pollution data
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/fromlocation">
								<i class="material-icons md-18 align-middle">my_location</i>
								<span class="align-middle">From location</span>
							</a>
							<a class="dropdown-item active" href="/airdata/anydevice">
								<i class="material-icons md-18 align-middle">location_on</i>
								<span class="align-middle">Any device</span>
							</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/airdata/aqi">Air quality map</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/api">API</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/airdata/about">About</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="position-fixed w-100 d-flex flex-column p-4 toast-show">
		<div class="toast" id="toastInfo" role="alert" data-delay="10000" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong id="toastTitle" class="mr-auto"></strong>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="toastBody" class="toast-body"></div>
		</div>
	</div>

	<main>
		<div id='map' class="map-large"></div>
		<div id='map-legend' class='legend'></div>
		<div id='map-legend-reduced' class="legend legend-closed"><a href="#" id="map-legend-open" class="text-info"><i
					class="material-icons md-28 align-middle">keyboard_arrow_left</i></a></div>
		<div id='choice-legend' class='choice-legend'>
			<h4><a href="#" id="choice-legend-close" class="text-info"><i
						class="material-icons md-28 align-middle">keyboard_arrow_left</i><span
						class="align-middle">Filters</span></a></h4>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="choiceArea" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-container="body"
					data-placement="top" title="Choose the area to get data from.">
					Choose an area
				</button>
				<div class="dropdown-menu" aria-labelledby="choiceArea">
					<a class="dropdown-item active"
						href="/airdata/anydevice?area={{{data.currentarea.area}}}">{{data.currentarea.area}}</a>
					{{#data.listcover}}
					<!--a class="dropdown-item" href="/airdata/anydevice?area={{{.}}}">{{.}}</a-->
					{{/data.listcover}}
				</div>
			</div>
			<br />
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="choiceInterval" data-toggle="tooltip" data-container="body"
						data-placement="top"
						title="All datasets don't have the same intervals of readings. Here you can choose which datasets you want.">Option</label>
				</div>
				<select class="custom-select" id="choiceInterval">
				</select>
			</div>
		</div>
		<div id='choice-legend-reduced' class="choice-legend legend-closed"><a href="#" id="choice-legend-open"
				class="text-info"><i class="material-icons md-28 align-middle">keyboard_arrow_rightt</i></a></div>
	</main>

	<button type="button" class="feedback-button btn btn-info" data-toggle="modal" data-target="#modalFeedback">
		<i class="material-icons md-18 align-middle">email</i>
		<span class="align-middle">Feedback</span></a>
	</button>

	<div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFeedbackLabel">Feedback</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="feedbackText" class="col-form-label">Message:</label>
							<textarea class="form-control" id="feedbackText"
								placeholder="Enter your comment"></textarea>
							<div id="invalidFeedbackText" class="invalid-message">Enter a message.</div>
						</div>
						<div class="form-group">
							<label for="senderEmail" class="col-form-label">You can put your email address if you want
								us to reach you back. Email address:</label>
							<input type="email" class="form-control" id="senderEmail" aria-describedby="emailHelp"
								placeholder="Enter email">
							<div id="invalidSenderEmail" class="invalid-message">Enter a valid email or no email.</div>
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
								else.</small>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="sendFeedback">Send feedback</button>
				</div>
			</div>
		</div>
	</div>

	<div id="data_res">{{data.data}}</div>
	<div id="area_center" data-value="{{{data.currentarea.center}}}"></div>

	<!-- Cookie alert with bootstrap from https://github.com/Wruczek/Bootstrap-Cookie-Alert MIT license can be commercialy used without credits -->
	<div class="alert text-center cookiealert" role="alert">
		<b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website by
		complying to the European cookie law.
		<a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
		<button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
			I agree
		</button>
	</div>

	<footer class="footer mt-auto py-3 text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Quick
							links</span></h5>
					<ul class="quick-links">
						<li><a href="/">Home</a></li>
						<li><a href="/airdata/about">About</a></li>
						<li><a href="https://github.com/Kevjolly/AirPollutionDataPlatform">Github repository</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Data
							sources</span></h5>
					<div class="row">
						<div class="col-md-6">
							<ul class="quick-links">
								<li><a href="https://smartcitizen.me/kits/">Smart Citizen</a></li>
								<li><a href="https://luftdaten.info/">Luftdaten</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="quick-links">
								<li><a href="https://opendata.bristol.gov.uk/pages/homepage/">Open Bristol Data</a></li>
								<li><a href="https://uk-air.defra.gov.uk/networks/network-info?view=aurn">DEFRA AURN</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr class="footer-divider">
			<div class="text-center">
				<span class="text-white">This website was made as part of a master thesis at the
					<u><a href="http://www.bristol.ac.uk/" class="text-white">University of Bristol</a></u>.</span>
			</div>
		</div>
	</footer>
</body>

</html>
