<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AQP - Comparing Data</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<!-- Special tag for Microsoft -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Description -->
<meta name="description" content="From location page of the air pollution data website">
<!-- How the layout and content adapts to the mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel='shortcut icon' type='image/x-icon' href='/static/img/aqp_logo.ico' />

<!-- style sheet -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.5.0/build/vega-tooltip.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
<!-- <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' /> -->
<link rel='stylesheet'
href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
type='text/css' />
<!-- opensource font -->
<link href="https://fonts.googleapis.com/css?family=Roboto|Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/svg.css" rel="stylesheet">

<script>
    $(function() {
        $("#header").load("/static/views/header.html");
        $("#footer").load("/static/views/footer.html");
    })
</script>

</head>

<body>
<header id = "header">
</header>
<section>
    <h1 id="page-title"></h1>
</section>

<div class="main-content">

    <div class="home-page page">
        <p>
            This site shows air quality based on readings
            from Open Source sensors from Luftdaten.
        </p>
        <p>
            You can compare readings from differet sensors/times
            using the drop down boxes in the pages with visualisations.
        </p>
        <p>
            The data for this site come from the
            <a target="_blank" href="http://archive.luftdaten.info">Luftdaten data archive</a>.
        </p>

        <h2>About Particulates (from Wikipedia)</h2>
        <p>
            Particulate matter (PM) is microscopic solid or liquid matter
            suspended in the atmosphere of Earth.
            Sources of particulate matter can be natural or anthropogenic.
            They have impacts on climate and precipitation that adversely affect human health.
        </p>
        <p>
            <ul>
                <li>
                    The IARC and WHO designate airborne particulates a Group 1 carcinogen.
                </li>
                <li>
                    In 2013, a study involving 312,944 people in nine
                    European countries revealed that:
                    <ul>
                        <li>there was no safe level of particulates</li>
                        <li>for every increase of 10 μg/m3 in PM10, the lung cancer rate rose 22%</li>
                        <li>
                            the smaller PM2.5 were particularly deadly, with a 36% increase in lung
                            cancer per 10 μg/m3 as it can penetrate deeper into the lungs.
                        </li>

                    </ul>
                </li>
                <li>
                    Worldwide exposure to PM2.5 contributed to 4.1 million deaths from heart
                    disease and stroke, lung cancer, chronic lung disease, and respiratory
                    infections in 2016.
                </li>
                <li>
                    Overall, ambient particulate matter ranks as the sixth
                    leading risk factor for premature death globally.
                </li>
            </ul>
        </p>
        <div class="foot-notes">
            <p>
                Source: <a href="https://en.wikipedia.org/wiki/Particulates" target="_blank">Wikipedia</a>
                (lightly edited for readability)
            </p>
        </div>
    </div>

    <div class="day-of-week page">

        <!-- Value field (PM10 or PM2.5) -->
        <select id="value-field-day-of-week" class="particulate-choice">
            <option value="P2" selected="selected">Particulate size: PM2.5</option>
            <option value="P1">Particulate size: PM10</option>
        </select>

        <!-- Drop downs -->
        <div class="row">
            <div class="column">
                <div>
                    <select id="sensor-code-day-of-week-1">
                    </select>
                </div>
                <div>
                    <select id="sensor-date-day-of-week-1">
                    </select>
                </div>
            </div>
            <div class="column">
                <div>
                    <select id="sensor-code-day-of-week-2">
                    </select>
                </div>
                <div>
                    <select id="sensor-date-day-of-week-2">
                    </select>
                </div>
            </div>
        </div>

        <!-- Explanation text -->
        <div>
            <p>
                Shows air quality by day of the week and time of day. Each segment
                shows average (mean) air quality particulate readings for a one hour block.
                Red indicates the highest air pollution levels.
            </p>
        </div>

        <!-- data -->
        <div id="locations">{{data.allLocations}}</div>
        <div id="data_res">{{data.data}}</div>
        <!-- <div id="last_record">{{data.last_record}}</div>
        <div id="eu_aqi">{{data.eu_aqi}}</div> -->

        <!-- Charts -->
        <div class="row">
            <div class="column">
                <div class="circle-chart" id="day-of-week-chart-1"></div>

            </div>
            <div>
                <div class="circle-chart" id="day-of-week-chart-2"></div>
                <div id="info2"></div>
            </div>
        </div>

        <!-- Legend -->
        <div class="center">
            <div id="info"></div>
            <div id="day-of-week-legend"></div>
        </div>

        <div class="foot-notes">
            <p>
                Colour range runs from zero to the
                <a href="http://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health" target="_blank">WHO limit</a>
                <br>
                Units: micrograms per metre cubed (µg/m3)
                <br>
                Source: <a href="http://archive.luftdaten.info/" target="_blank">http://archive.luftdaten.info/</a>
            </p>
        </div>
    </div>

    <div class="over-time page">
        <!-- Value field (PM10 or PM2.5) -->
        <select id="value-field-over-time" class="particulate-choice">
            <option value="P2" selected="selected">Particulate size: PM2.5</option>
            <option value="P1">Particulate size: PM10</option>
        </select>

        <!-- Drop downs -->
        <div class="row">
            <div class="column">
                <div>
                    <select id="sensor-code-over-time-1">
                    </select>
                </div>
                <div>
                    <select id="sensor-date-over-time-1">
                    </select>
                </div>
            </div>
            <div class="column">
                <div>
                    <select id="sensor-code-over-time-2">
                    </select>
                </div>
                <div>
                    <select id="sensor-date-over-time-2">
                    </select>
                </div>
            </div>
        </div>

        <!-- Explanation text -->
        <div>
            <p>
                Shows air quality particulate readings as 24 hour means. Each
                point shows the average air quality reading for the
                24 hours preceding it. This lets us measure the air quality
                against air quality indexes.
            </p>
        </div>

        <!-- Charts -->
        <div class="row">
            <div class="column">
                <div class="twentyfour-hour-means" id="twentyfour-hour-means-chart-1"></div>
            </div>
            <div class="column">
                <div class="twentyfour-hour-means" id="twentyfour-hour-means-chart-2"></div>
            </div>
        </div>

        <div class="foot-notes">
            <p>
                <span class="red">Red line</span> indicates the
                <a href="http://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health" target="_blank">WHO limit</a>
                <br>
                Units: micrograms per metre cubed (µg/m3)
                <br>
                Source: <a href="http://archive.luftdaten.info/" target="_blank">http://archive.luftdaten.info/</a>
            </p>
        </div>
    </div>

    <div class="all-products page">

        <h3>Our products</h3>

        <div class="filters">
        </div>

    </div>

    <div class="single-product page">

        <div class="overlay"></div>

        <div class="preview-large">
            <h3>Single product view</h3>
            <img src=""/>
            <p></p>

            <span class="close">&times;</span>
        </div>

    </div>

    <div class="error page">
        <h3>Sorry, something went wrong :(</h3>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/d3@4.13.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@3.1.0/build/vega-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.5.1"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/frameworks/circularheatchart/circularHeatChartV4.js"></script>
<script src="js/config.js"></script>
<script src="js/luftviz.js"></script>
<script src="js/site.js"></script>
<!--<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>-->
</body>
</html>
