 target="_blank"<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>AQP - Data from location</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Special tag for Microsoft -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Description -->
    <meta name="description" content="Data from location page of the air pollution data website">
    <!-- How the layout and content adapts to the mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/aqp_logo.ico' />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Javascript -->
    <script type="text/javascript" src="/static/frameworks/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js" defer></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>

    <script type="text/javascript" src="/static/js/send.js" defer></script>
    <script type="text/javascript" src="/static/js/map.js" defer></script>
    <script type="text/javascript" src="/static/js/main.js" defer></script>
</head>

<body class="h-100 d-flex flex-column body-fill">
    <header>
        <nav id="site-navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/img/aqp_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="site-name">Air Quality Platform</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Get pollution data
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item active" href="/fromlocation">
                                <i class="material-icons md-18 align-middle">my_location</i>
                                <span class="align-middle">From location</span>
                            </a>
                            <a class="dropdown-item" href="/airdata/anydevice">
                                <i class="material-icons md-18 align-middle">location_on</i>
                                <span class="align-middle">Any device</span>
                            </a>
                        </div>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="/airdata/aqi">Air quality map</a>
					</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/airdata/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="position-fixed w-100 d-flex flex-column p-4 toast-show">
        <div class="toast" id="toastInfo" role="alert" data-delay="10000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong id="toastTitle" class="mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="toastBody" class="toast-body"></div>
        </div>
    </div>

    <main class="main-overtime">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div id="card_data" class="card card-margins">
                    <div class="card-body">
                        <h4 class="card-title">Air pollution data</h4>
                        <p class="card-text text-justify">Here are the closest data we could find to your location.
                            More information about this table in the <a href="#what_it_means">what it means</a> section
                            below.
                        </p>
                        <table class="table table-hover table-responsive text-center">
                            <caption>The data might not be totally representative of the reality if the devices are too
                                far from the
                                location.</caption>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">AQI</th>
                                </tr>
                            </thead>
                            <tbody id="data_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="card_air_quality" class="card card-margins">
                    <div class="card-body">
                        <h4 class="card-title">Air quality index</h4>
                        <p class="card-text text-justify">
                            Given the closest available data to your location,
                            we can conclude the following air quality for your location.
                            More information in the <a href="#what_it_means">what it means</a> section below.
                        </p>
                        <h4 id="aqi_result" class="text-center"></h4>
                    </div>
                </div>

                <div id="card_location" class="card card-margins">
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <h4 class="card-title">Location</h4>
                                <p class="card-text text-justify">Here are some information about the requested location
                                    and the
                                    devices the data came from.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <table class="table table-hover table-responsive text-center">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Area</th>
                                            <td>{{location.area_name}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Longitude</th>
                                            <td id="long">{{location.coordinates.0}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Latitude</th>
                                            <td id="lat">{{location.coordinates.1}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">Devices used around the location</h5>
                        <div id='map' class="map-large"></div>
                        <div id='map-legend' class='legend legend-top'></div>
                        <div id='map-legend-reduced' class="legend legend-closed legend-top">
                            <a href="#" id="map-legend-open" class="text-info">
                                <i class="material-icons md-28 align-middle">keyboard_arrow_left</i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">The areas of data containing the location</h5>
                        <div id='map2' class="map-large"></div>
                        <div id='map-legend-2' class='legend legend-bottom'></div>
                        <div id='map-legend-reduced-2' class="legend legend-closed legend-bottom">
                            <a href="#" id="map-legend-open-2" class="text-info">
                                <i class="material-icons md-28 align-middle">keyboard_arrow_left</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="what_it_means" class="card card-margins-bis">
            <div class="card-body">
                <h4 class="card-title">What it means</h4>
                <h6 class="card-title">Air pollution data</h6>
                <p class="card-text text-justify">
                    The table in the air pollution data section above shows parameters and their values.
                    If a row is highlighted in a different color, it means that it couldn't find any recent data
                    (updated every hour) close to the location for that parameter in question.
                    Instead, it used data from <span class="text-info">daily</span> or <span class="text-warning">yearly</span> updated data sources.
                    Be aware that the data might not be totally representative of the reality at the requested location 
                    if the devices are too far from it.
                </p>
                <h6 class="card-title">Air quality index</h6>
                <p class="card-text text-justify">
                    In certain cases, an air quality level is displayed in the row of a parameter.
                    It means that this parameter is part of the European Air Quality Index.
                    This index allows us to give an idea about the global air quality of your location.
                    This information is displayed in the air quality section above.
                    <span id="levels_pollution"></span>
                </p>
                <h6 class="card-title">Location</h6>
                <p class="card-text text-justify">
                    In the location section are displayed the coordinates of the requested location and two maps.
                    The first map displays the devices around the location which data was taken as they are the closest
                    devices to the location.
                    The second map displays the areas used in order to retrieve the remainder of the data.
                    You can click on a marker or an area of the map which shows you the details, 
                    the last record and a link to access data over time in the case of a device.
                </p>
                <p class="card-text text-justify">
                    More information in the <a href="/airdata/about" target="_blank">about</a> page.
                </p>
            </div>
        </div>
    </main>

    <button type="button" class="feedback-button btn btn-info" data-toggle="modal" data-target="#modalFeedback">
        <i class="material-icons md-18 align-middle">email</i>
        <span class="align-middle">Feedback</span></a>
    </button>

    <div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFeedbackLabel">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="feedbackText" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="feedbackText"
                                placeholder="Enter your comment"></textarea>
                            <div id="invalidFeedbackText" class="invalid-message">Enter a message.</div>
                        </div>
                        <div class="form-group">
                            <label for="senderEmail" class="col-form-label">You can put your email address if you want
                                us to reach you back. Email address:</label>
                            <input type="email" class="form-control" id="senderEmail" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <div id="invalidSenderEmail" class="invalid-message">Enter a valid email or no email.</div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendFeedback">Send feedback</button>
                </div>
            </div>
        </div>
    </div>

    <div id="data_res">{{data}}</div>
    <div id="eu_aqi">{{aqi}}</div>

    <!-- Cookie alert with bootstrap from https://github.com/Wruczek/Bootstrap-Cookie-Alert MIT license can be commercialy used without credits -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website by
        complying to the European cookie law.
        <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>

    <footer class="footer mt-auto py-3 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Quick
                            links</span></h5>
                    <ul class="quick-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/airdata/about">About</a></li>
                        <li><a href="https://github.com/Kevjolly/AirPollutionDataPlatform" target="_blank">Github repository</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Data
                            sources</span></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="quick-links">
                                <li><a href="https://smartcitizen.me/kits/" target="_blank">Smart Citizen</a></li>
                                <li><a href="https://luftdaten.info/" target="_blank">Luftdaten</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="quick-links">
                                <li><a href="https://opendata.bristol.gov.uk/pages/homepage/" target="_blank">Open Bristol Data</a></li>
                                <li><a href="https://uk-air.defra.gov.uk/networks/network-info?view=aurn" target="_blank">DEFRA AURN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="footer-divider">
            <div class="text-center">
                <span class="text-white">This website was made as part of a master thesis at the
                    <u><a href="http://www.bristol.ac.uk/" class="text-white" target="_blank">University of Bristol</a></u>.</span>
            </div>
        </div>
    </footer>
</body>

</html>