<div class="container" style="max-height: 100%">
    <!--div class="row">
        <div class="col">
            <h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Data Sources</span></h5>
        </div>
    </div-->
    <div class="row" style="padding-bottom: 12px;">
        <div class = "col col-lg-2 col-sm-12" style="margin-left: auto; margin-right:auto;"><h5><i class="material-icons md-28 align-middle">list</i><span class="align-middle">Data Sources</span></h5></div>
        <div class="col col-lg-2 col-sm-12" style="margin-top: 4px; text-align: center;"><a href="https://smartcitizen.me/kits/" target="_blank" >Smart Citizen</a></div>
        <div class="col col-lg-2 col-sm-12" style="margin-top: 4px; text-align: center;"><a href="https://luftdaten.info/" target="_blank">Luftdaten</a></div>
        <div class="col col-lg-2 col-sm-12" style="margin-top: 4px; text-align: center"><a href="https://opendata.bristol.gov.uk/pages/homepage" target="_blank">Open Bristol Data</a></div>
        <div class="col col-lg-2 col-sm-12" style="margin-top: 4px; text-align: center;"><a href="https://uk-air.defra.gov.uk/networks/network-info?view=aurn" target="_blank">DEFRA AURN</a></div>
    </div>		
</div>